{% extends "layout.html" %}
{% block content %}

<style>
    div {
  background-color: lightgrey;
  width: all;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
    </style>
    <div>
        <nav class="topnav" id="dropdownClick">
            <li><button>Agregar</button></li>
            <li><button>Agregar</button></li>
            <li><button>Eliminar</button></li>
        </nav>
        <ul>
            <li><a href="/">Cursos</a></li>
            <li><a href="/">Alumnos</a></li>
        </ul>
        <table>
        </table>
    </div>
    

{% endblock content %}