<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JIM Virtual</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.jpeg" alt="Logo">
        </div>
        <h1>JIM VIRTUAL</h1>
        <div class="welcome">
            Bienvenida: Johanna Fernandez
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="/inscripciones">Inscripciones</a></li>
            <li><a href="#">Aula Virtual</a></li>
            <li><a href="#">Trámites</a></li>
        </ul>
    </nav>

    <main>
        <section class="carreras">
            <h2>NOMBRE DE LA CARRERA QUE ELIGIO</h2>
      <hr>
        <h2>MATERIAS DE PRIMER AÑO</h2>

        <div class="white">

            <a href="/joha" class="profile-box">
                <h3>ACA SOLO MOSTRAR MATERIAS QUE SE INSCRIBIO</h3>
            </a>

        <a href="/joha" class="profile-box">
            <h3>LUNES: Programacion estructurada</h3>
        </a>

        <a href="/joha" class="profile-box">
            <h3>MARTES: Algebra</h3>
        </a>

        <a href="/joha" class="profile-box">
            <h3>MIERCOLES: Arquitectura de computadoras</h3>
        </a>

        <a href="/joha" class="profile-box">
            <h3>JUEVES: Estructura de datos</h3>
        </a>

        <a href="/joha" class="profile-box">
            <h3>VIERNES: Documentacion de requerimientos</h3>
        </a>

        </div>
    </section>
    </main>
</body>
</html>
