<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JIM VIRTUAL - Boletín</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.png" alt="Logo">
            <a href="#">Home</a>
        </div>
        <h1>JIM VIRTUAL</h1>
        <div class="welcome">
            <p>BIENVENIDA: JOHANNA FERNÁNDEZ</p>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="/inscripciones">INSCRIPCIONES</a></li>
            <li><a href="/aulaVirtualCarreras">AULA VIRTUAL</a></li>
            <li><a href="/tramites">TRÁMITES</a></li>
        </ul>
    </nav>

    <main>
        <section class="content">
            <h2>BOLETÍN</h2>
            <p>ELEGIR CARRERAS QUE HAYA COMPRADO Y MOSTRAR BOLETÍN POR AÑO</p>
        </section>
    </main>
</body>
</html>
