<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JIM VIRTUAL - Cursos y Materias</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>

<body>
    <header>
        <div class="logo">
            <img src="logo.png" alt="Logo">
            <span>Home</span>
        </div>
        <h1>JIM VIRTUAL</h1>
        <div class="welcome">
            <span>BIENVENIDA: JOHANNA FERNANDEZ</span>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="#">Cursos y materias</a></li>
            <li><a href="#">Contenidos</a></li>
            <li><a href="#">Trámites</a></li>
        </ul>
    </nav>

    <main>
        <section class="carreras">
            <h2>Carreras</h2>
            <div class="carrera">
                <a href="/carrera">
                    <div class="card card-analisis">
                        <h3>Análisis de Sistemas</h3>
                    </div>
                </a>
            </div>
        </section>
    </main>
</body>
</html>
