<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JIM VIRTUAL - Registro</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="logo.jpeg" alt="Logo">
            </div>
        </nav>
    </header>
    <main>
        <div class="form-container">
            <form action="{{ url_for('homeInscribirse') }}" class="form-register" method="post">
                <h2>Crear una cuenta <br> Nueva</h2>
                <input class="controls" type="text" name="nombre" placeholder="NOMBRE">
                <input class="controls" type="email" name="correo" placeholder="EMAIL">
                <input class="controls" type="password" name="contrasena" placeholder="CONTRASEÑA">
                <input class="botons" type="submit" value="INSCRIBIRSE">
                <p>¿Ya registrado? <a href="/homeIngresar">Acceder</a></p>
                {% with messages = get_flashed_messages()%}
                    {% if messages %}
                        <ul class="flash-messages">
                        {% for message in messages %}
                            <li class="flash-message">{{message}}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </form>
        </div>
    </main>
</body>
</html>

