{% extends "layout.html" %}
{% block content %}

    <h1>Bienvenidos a <span>JIM</span>!</h1>
    <section>
      <h2>Acceso Ilimitado</h2>
      <p>Con una amplia variedad de materias y recursos, desde matemáticas hasta música, <span>JIM</span> ofrece acceso ilimitado al conocimiento en cualquier momento y en cualquier lugar.</p>
    </section>
    <section>
      <h2>Interactividad</h2>
      <p>Sumérgete en un mundo de aprendizaje interactivo. Desde videos envolventes hasta actividades prácticas, nuestra plataforma hace que el aprendizaje sea dinámico y emocionante.</p>
    </section>
    <section>
      <h2>Personalización</h2>
      <p>Reconocemos que cada estudiante es único. Con opciones personalizadas y adaptativas, <span>JIM</span> se ajusta a tu estilo de aprendizaje y a tus necesidades individuales.</p>
    </section>
    <section>
      <h2>Inclusión y Equidad</h2>
      <p>Creemos en un mundo donde el conocimiento sea accesible para todos. Con <span>JIM</span>, estamos derribando barreras y promoviendo la inclusión y la equidad en la educación.</p>
    </section>
  

{% endblock content %}