{% extends "layout.html" %}
{% block content %}

    <h1>Bienvenidos a <span>JIM</span>!</h1>
    <section>
      <h2>Acceso Ilimitado</h2>
      <p>Con una amplia variedad de materias y recursos, desde matemáticas hasta música, <span>JIM</span> ofrece acceso ilimitado al conocimiento en cualquier momento y en cualquier lugar.</p>
    </section>
    <section>
      <h2>Interactividad</h2>
      <p>Sumérgete en un mundo de aprendizaje interactivo. Desde videos envolventes hasta actividades prácticas, nuestra plataforma hace que el aprendizaje sea dinámico y emocionante.</p>
    </section>
    <section>
      <h2>Registrate</h2>
      <p>Aprende de gente de todo el mundo y consulta con nuestra Inteligencia Artificial para sacarte las dudas</p>
      <input type="button" href="register.html">
    </section>

{% endblock content %}