<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JIM Virtual</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.jpeg" alt="Logo">
        </div>
        <h1>JIM VIRTUAL</h1>
        <div class="welcome">
            Bienvenida: Johanna Fernandez
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="#">Inscripciones</a></li>
            <li><a href="#">Aula Virtual</a></li>
            <li><a href="#">Trámites</a></li>
        </ul>
    </nav>

    <main>
        <section class="carreras">
            <h2>INSCRIPCIONES A CARRERAS</h2>
            <div class="carrera">
                <a href="/inscripcionesMaterias">
                    <div class="card card-analisis">
                        <h3>Análisis de Sistemas</h3>
                    </div>
                </a>
                <a href="#">
                    <div class="card card-diseno">
                        <h3>Diseño Web</h3>
                    </div>
                </a>
            </div>
        </section>
    </main>
</body>
</html>
