
.main-container {
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    height: 88vh;
}

.logo img {
  width: 90px;
}

.contenedor {
    background-image: url('imagen inicio.jpeg');
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center;
    border: 2px solid white;
    width: 100%; /* Ajusta el ancho del contenedor según tus necesidades */
    height: 67vh; /* Ajusta la altura del contenedor según tus necesidades */
}

body {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.937) 30%,rgba(170, 255, 0, 0.76) 100%);
    justify-content: center; /* Centra el contenedor horizontalmente */
    align-items: center; /* Centra el contenedor verticalmente */
}

  h1 {
    color: rgb(0, 255, 170);
    font-size: 72px; /* Tamaño de letra ajustado */
  }

  p {
    color: rgb(255, 251, 0);
    font-size: 45px; /* Tamaño de letra ajustado */
  }

.boton {
        display: flex;
        flex-direction: column;
        margin: 60px;
        font-size: 19px;
        padding: 5px 50px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 7px;
        color: rgb(0, 0, 0);
        background:rgb(180, 255, 81);
        transition: .3s;
        cursor: pointer;
        font-weight: bold;
}

a:hover {
    color:rgb(76, 0, 255);
}

.container1 {
    font-size: 30px; /* Tamaño de letra ajustado */
    padding: 2px 0px;
    background-color: black;
}